/* .overlay{
    background-color: black;
}



.parentnav{
    background: url("https://websitedemos.net/generic-ecommerce-02/wp-content/uploads/sites/1526/2025/03/home-hero-bg.jpg");
    height:100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}


.navbarr{
    background-color: transparent;
    color:white;
    display: flex;

}
.logo{
    padding: 0px 5%;
}
.main{
    position: absolute;
    right: 100px;
}
.main ul{
    display: flex;
}

.main li {
    list-style-type:none;
    padding: 12px 25px;
   
}

.main a{
    text-decoration:none;
    color:white;
}
@media (max-width:427px) {

   .main{
    display: none;
   }
} */

.header{
    background-image: url("https://websitedemos.net/generic-ecommerce-02/wp-content/uploads/sites/1526/2025/03/about-bg.jpg");
    height: 35rem;
    color: #ffffff;
    
}
