.Container{
    background: url("https://websitedemos.net/generic-ecommerce-02/wp-content/uploads/sites/1526/2025/03/home-hero-bg.jpg");
    height:100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
} 
