.overlay{
    background-color:transparent;
}

.navbarr{
    background-color: transparent;
    color:white;
    display: flex;
    position:relative;
    z-index: 10;

}
.logo{
    padding: 0px 5%;
}
.main{
    position: absolute;
    right: 100px;
}
.main ul{
    display: flex;
}

.main li {
    list-style-type:none;
    padding: 12px 25px;
   
}

.main a{
    text-decoration:none;
    color:white;
}
.overlay button{
    height: 50px;
    margin-top: 15px;
    background-color: black;
    color: white;
    border: black;
    display: none;
    font-size: xx-large;
    position: absolute;
    right: 20px;
}
.toggleBtn{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    color: black;
    z-index: 9999;
    width:100%;

}
.toggleBtn a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.toggleBtn ul{
    background: white;
    border-radius: 10px;
    list-style: none;

    
}
.toggleBtn li{
    list-style-type: none;
    padding: 5px 20px ;
    
}

@media (max-width:427px) {

   .main{
    display: none;
   }
   .overlay button{
    display: block;
   }

}
