.cartNavbar{
    background-color: black;
}
.singleProductContainer{
    display: flex;
    padding:80px 120px ;
     gap:40px;
}
.containerImage img{
    height: 100vh;
    width: 100%;
} 
.containerContent{
    padding-top:100px;
}
.prodCategory{
    margin: 0;
    color:rgb(154, 210, 99);
    font-size: large;
}
.containerContent h1{
    margin: 0;
    font-weight:500;
    font-size:2em;
}
.proPrice{
    display: flex;
    gap:3px;
}
.proPrice p{
    margin: 0;
}
.proPrice p{
    font-size:0.6em;
    padding-top: 13px;
    color: rgb(20, 2, 2);
}
.containerContent input{
    height: 50px;
    width: 50px;
}
.prodCart{
    height: 30px;
    width: 200px;
    display: flex;
    gap: 20px;
}
.prodCart button{
    padding:10px;
    border-radius: 20px;
    border:none;
    background-color: #8DC63F; 
    color: white;
    cursor: pointer;
 }
 .prodCart button:hover{
     background-color: #5C8F24;
     padding:15px;
     transition: 0.3s;
     color: white;
 }

 .shopEndprod{
    background: url("https://websitedemos.net/generic-ecommerce-02/wp-content/uploads/sites/1526/2025/03/shop-bg.jpg");
    height: 330px;
    color: white;
 }
 .readToFindOverlayy{
     background-color: rgba(16, 32, 40, 0.55);
    height: 100%;
    width: 100%;
    height: 330px;
 }
 .shopEndprod h1{
    padding-top: 100px;
    font-size: 50px;
    margin: 0;
    font-weight:400;
 }
 .shopEndprod p{
    margin: 0;
 }
 .shopEndprod button{
margin-top:20px;
padding: 10px;
border-radius:30px;
width: 120px;
background-color:#8DC63F;
border: none;
color: aliceblue;

 }
  .shopEndprod button:hover{
    background-color: #5C8F24;
    transition: 0.3s;
    
  }